

{% extends 'student/base.html' %} 

{% load crispy_forms_tags %}
 
{% block content %} 

<h1>Scholarship Form</h1>

<form action="" method="post">
    {% csrf_token %} 
<div class="row row-cols-md-2">
    <div class="col">{{form.fullname |as_crispy_field}}</div>
    <div class="col">{{form.hallticket|as_crispy_field}}</div>
    <div class="col">{{form.clgname|as_crispy_field}}</div>
    <div class="col">{{form.aadharno|as_crispy_field}}</div>
    <div class="col">{{form.mobile|as_crispy_field}}</div>
    <div class="col">{{form.amount|as_crispy_field}}</div>

    <button type="submit" class="btn btn-danger">Save Student</button> 

    <div class="col">
        <a href="{% url 'student_list'%}" class="btn btn-success">List Of All Students</a>
    </div>



</div>
</form>



{% endblock content%}